:root {
  --ion-color-primary: #335145;
  --ion-color-primary-rgb: 51,81,69;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #2d473d;
  --ion-color-primary-tint: #476258;

  --ion-color-secondary: #008dd5;
  --ion-color-secondary-rgb: 0,141,213;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #007cbb;
  --ion-color-secondary-tint: #1a98d9;

  --ion-color-tertiary: #d4c1ec;
  --ion-color-tertiary-rgb: 212,193,236;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #bbaad0;
  --ion-color-tertiary-tint: #d8c7ee;

  --ion-color-success: #9ebd6e;
  --ion-color-success-rgb: 158,189,110;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #8ba661;
  --ion-color-success-tint: #a8c47d;

  --ion-color-warning: #fabc2a;
  --ion-color-warning-rgb: 250,188,42;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #dca525;
  --ion-color-warning-tint: #fbc33f;

  --ion-color-danger: #ff5a5f;
  --ion-color-danger-rgb: 255,90,95;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0,0,0;
  --ion-color-danger-shade: #e04f54;
  --ion-color-danger-tint: #ff6b6f;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,36,40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146,148,156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #eaf0ce;
  --ion-color-light-rgb: 234,240,206;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #ced3b5;
  --ion-color-light-tint: #ecf2d3;
}